table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid black;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}/* 
    Document   : Table
    Created on : Apr 26, 2020, 2:05:15 PM
    Author     : sakshi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

